<h1>Create a New Article</h1>
<%= render partial: 'form' %>
<%# Why the name "new.html.erb?"" The first piece, new, matches the name of the controller method. 
The second, html, specifies the output format sent to the client. The third, erb, specifies the language the template is written in. 
Under different circumstances, we might use new.json.erb to output JSON or 
new.html.haml to use the HAML templating language. %>
